/* === GENERAL === */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif;
}

#container {
	width: 80%;
	max-width: 160rem;
	margin: 2rem auto;
	border-radius: 10px;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid lightgray;
}

/* === HEADER === */
.header {
	margin: 0 auto;
	background-color: lightseagreen;
	padding: 2rem 4rem;
	color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.header:after {
	content: '';
	display: table;
	clear: both;
}

.header h1 {
	margin-bottom: 30px;
	font-family: 'Bitter', serif;
	letter-spacing: 3px;
	word-spacing: 5px;
}

.header input {
	margin: 0;
	border: none;
	border-radius: 0;
	/* de pus la tablet: width: 75%; */
	padding: 0.7rem;
	float: left;
	font-size: 1rem;
}

.header .addBtn {
	padding: 0.64rem;
	/* de pus la tablet: width: 25%; */
	background: lightgray;
	color: darkblue;
	float: left;
	text-align: center;
	font-size: 1rem;
	cursor: pointer;
}

.header .addBtn:hover {
	background-color: lightgreen;
}

/* === LIST === */
ul li {
	cursor: pointer;
	position: relative;
	padding: 0.9rem 0.5rem 0.9rem 3.3rem;
	background: lightgray;
	font-size: 1.2rem;
	transition: 0.2s;
	user-select: none;
}

ul li:nth-child(odd) {
	background: whitesmoke;
}

ul li:hover {
	background: darkgray;
}

ul li.checked {
	background: lightslategrey;
	color: whitesmoke;
	text-decoration: line-through darkgreen double;
}

ul li.checked::before {
	content: '';
	position: absolute;
	border-color: darkgreen;
	border-style: solid;
	border-width: 0 4px 4px 0;
	top: 0.9rem;
	left: 1.5rem;
	transform: rotate(45deg);
	height: 1.1rem;
	width: 0.4rem;
}

/* === MEDIA QUERIES === */

/* === FUNC CLASSES === */
.delete {
	color: darkred;
	text-align: center;
	width: 4rem;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.7rem 1rem;
	font-size: 1.5rem;
}

.delete:hover {
	background-color: lightcoral;
	color: white;
}

.hidden {
	display: none;
}
